*{
    background-color: black;
    color: white;
    font-family: "Libre Baskerville", serif;
}
div {
    text-align: center;
    margin-top: 10%;
}
h1{
    text-transform: uppercase;
}
img{
    border: 5px solid white;
    
}
